<h1>Inflation</h1>

<img alt = "inflation" src = "/assets/inflation.jpg" >

<p>
  Inflation is defined as a sustained increase in the general level of prices for goods and services. It is measured as an annual percentage increase. As inflation rises, every dollar you own buys a smaller percentage of a good or service.
</p>
