

  <div class="col-lg-9 col-md-9 col-sm-9" id="postlist">

    <div class ="apost">

<%= link_to 'The Danges of Inflation', blog_inflation_path %>
<img alt = "inflation" src = "/assets/inflation.jpg" height="200" width="200" >

</div>

<div class ="apost">

<%= link_to 'The Danges of Inflation', blog_inflation_path %>
<img alt = "inflation" src = "/assets/inflation.jpg" height="200" width="200" >

</div>



</div>
<div class = "sidebar">


<a class="twitter-timeline" href="https://twitter.com/hashtag/finance" data-widget-id="662755692541952000">#finance Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
